body {
<<<<<<< HEAD
  background-image: url("../images/background3.jpg");
=======
  background-image: url("../images/background2.jpg");
>>>>>>> gh-pages
  background-repeat: no-repeat;
  background-size: auto;
}
 button {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 12px;
}

button:hover {
  left: 0;
  background-color: #008CBA;
}

Click here {
  top: 20px;
}
button {
  background-color: #008CBA;
}
